<!DOCTYPE HTML>
<html>
	<head>
		<title>Newsletter</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="home"><img src="images/logo.png">Noise Pageant </a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="home">Home</a></li>
					<li><a href="noise-pageant-tour">Tour</a></li>
					<li><a href="biography">Biography</a></li>
					<li><a href="newsletter">Newsletter</a></li>
					<%if(!currentuser){%>
					<li><span style="display:block;"></span><a class="links" href="/users/login" >Log In</a></span></li>
					<%}else{%>
					<li><span style="display:block;"></span><a class="links" href="/logout" >Log Out</a></span></li>
					<%}%>
					<%if(currentuser){%>
					<p style="color: rgb(0, 0, 0);">Welcome <%=currentuser.username%></p>
					<%}%>
				</ul>
			</nav>

		<!-- Main -->
			<div id="main" class="container">

				<!-- Content -->
					<h2>Newsletter</h2>
					<p>Join now for exclusive content, including tour pre-sale codes, videos, photos and the fan message board!</p>
					
				<hr class="major" />

			
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>Subscribe to Newsletter</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Subscribe" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="https://www.youtube.com/channel/UCDV7Lc2_hyUz3twN-OL5-QQ/" class="icon round fa-youtube" target="_blank"><span class="label">Youtube</span></a></li>
						<li><a href="https://www.facebook.com/noisepageant/" class="icon round fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/noise_pageant/" class="icon round fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
					</ul>

					<div class="copyright">
						<p style="display:block; text-align:center;color:black;">&copy; 2020 Noise Pageant. All Rights Reserved.</p>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
           
	</body>
</html>